@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  font-family: 'PT Sans', sans-serif;
}

body {
  background: #fbfbfb !important;

}

.bg-blue {
  background: #0099ff !important;
}

#home {
  background: #0099ff !important;
  height: 43vh;
}

.navbar-nav li {
  padding: 5px 10px;
}

.navbar-nav li a {
  font-weight: bold;
  color: #151819;
}

.navbar-nav li a:hover {
  color: #fff !important;
}

.xer {
  margin-top: 10%;
}

.welcome {
  padding-top: 20%;
  padding-bottom: 10%;
}

.welcome h4 {
  font-weight: bold;
  color: #fff;
  text-shadow: 4px 4px 5px rgb(0, 0, 0, .5);
}

.welcome h6 {
  font-family: Monospace;
  color: #e7e7e7;
  margin-bottom: 4%;
}

.bats {
  margin-top: 15%;
}

.fnt-w {
  font-weight: bold;
  text-shadow: 3px 3px 2px rgb(0, 0, 0, .3);
  text-transform: uppercase;
  font-family: Sans-Serif;
}

path {
  border: none;
}

.bx-s {
  margin: 0 10px;
  box-shadow: 2px 3px 4px rgb(0, 0, 0, 0.3);
}

.dikt {
  margin-top: -80px;
}

.ps {
  margin-top: 30px;
}

.bx {
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3),
    -1px -1px 2px rgb(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.fnt-m {
  margin-top: 20px;
  font-family: Monospace;
  font-size: 20px;
}

.kecil {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.pd {
  margin-bottom: 28px;
}

.bh {
  margin: 0 6px;
}

#who {
  font-weight: bold;
  color: red;
}

#click {
  display: none;
  padding: 14px;
  bottom: 11%;
  border-radius: 5%;
  right: 30px;
  border: none;
  background: #0099ff !important;
  color: #fff;
  position: fixed;
  text-align: center;
}

.bt {
  margin-right: 5%;
}

.bg-orange {
  background: #d9a103 !important;
}

.avat {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 4px 4px 3px rgb(0, 0, 0, 0.2);
}

.sms {
  margin: 0 8px;
  padding: 10px;
  border-radius: 50px;
  background: #ececec;
}

.sms:hover {
  background: #ffffff;
  border: 1px solid #d8d8d8;
}

footer {
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background: #0099ff !important;
  font-family: Monospace;
  font-weight: bold;
}

@media (min-width: 768px) {
  footer {
    position: fixed;
  }

  .xer {
    float: right;
  }

  .dikt {
    margin-top: -90px;
  }

  .ps {
    margin-top: none;
  }

  .welcome {
    padding-top: 21%;
  }

  .welcome h4 {
    font-size: 70px;
  }

  .welcome h6 {
    padding-top: 20px;
    font-size: 30px;
  }

  .fnt-w {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, .5);
    text-transform: uppercase;
    font-family: Sans-Serif;
    font-size: 50px;
  }

  .bx-s {
    font-size: 30px;
    color: #d9d9d9;
  }
}