/* hero styling */
@import url("./Module/CSS/root.css");

.hero {
  width: 100%;
  height: 25rem;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .img-hero {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}

.wave {
  position: relative;
  top: 15px;
  z-index: -1;
}

.wave-2 {
  position: relative;
  top: -5px;
  z-index: -1;
}

.hero .name {
  margin: 20px;
  text-align: center;
}

.hero .name p {
  font-size: 0.8rem;
  opacity: 0.7;
}

.hero .name .sosial-link {
  font-size: 1.3rem;
}

.hero-caption {
  min-height: 15rem;
  padding: 5%;
  padding-top: 5rem;
  background-color: var(--blue);
  z-index: 3;
}

.hero .time {
  position: absolute;
  top: 4.75rem;
  left: 15px;
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(0,0,0,0.3);
}

.hero .background {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  z-index: -3;
  filter: blur(100px);
}

.hero .background .color {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
}

.hero .background .color:nth-child(1) {
  background-color: var(--lightblue);
  top: 5rem;
  height: 10rem;
  margin: 1rem;
  left: 5%; right: 5%;
}
.hero .background .color:nth-child(2) {
  background-color: var(--pink);
  top: 25rem;
  height: 10rem;
  width: 15rem;
  left: 30%; right: 5%;
}
.hero .background .color:nth-child(3) {
  background-color: var(--yellow);
  top: 19rem;
  height: 10rem;
  width: 10rem;
  left: 20%; right: 5%;
}

@media only screen and (min-width: 800px) {
  .hero {
    flex-direction: row;
  }
  
  .hero .name {
    text-align: left;
  }
  
  .hero .time {
    display: none;
  }
  
  .hero .background {
    filter: blur(200px);
  }
  .hero .background .color:nth-child(3) {
    background-color: var(--yellow);
    top: 19rem;
    height: 15rem;
    width: 20rem;
    left: 20%; right: 5%;
  }
  
  .hero .background .color:nth-child(2) {
    background-color: var(--pink);
    height: 18rem;
    width: 20rem;
  }
}
