/* nav styling */
@import url(./root.css);

.nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 15px;
  background-color: rgba(255,255,255,0);
  position: fixed;
  top: 0;right: 0;left: 0;
  z-index: 5;
  transition: 500ms;
}

.nav-onScroll {
  background-color: rgba(255,255,255,0.98);
}

.nav h1 span:nth-child(1) {
  color: var(--lightblue);
}

.nav .btn-nav {
  font-size: 1.23rem;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--transparent);
  border: 0;
  transition: 200ms;
}

.nav .btn-nav:active {
  background-color: rgba(0,0,0,0.03);
}

.nav-selection {
  height: 0;
  border-radius: 0 0 50% 50%;
  margin-top: 4.5rem;
  background-color: rgba(255,255,255,0.98);
  position: fixed;
  opacity: 0;
  right: 0; top: 0; left: 0;
  transition: 300ms;
  z-index: 4;
}

.nav-selection-on {
  border-radius: 0;
  height: 18rem;
  opacity: 1;
}

.nav-list {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-link {
  font-style: none;
  text-decoration: none;
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
  color: #000;
}

.personal {
  position: absolute;
  top: -20px; left: 0.85rem;
  opacity: 0.3;
  font-size: 0.8rem;
}

.nav-link:active {
  color: var(--lightblue);
}

@media only screen and (min-width: 800px) {
  .nav {
    padding: 12px 20px;
  }
  
  .nav .btn-nav {
    display: none;
  }
  
  .nav-selection {
    margin: 0;
    width: 100%;
    max-width: 35rem;
    position: static;
    border-radius: 0;
    border: 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    height: 3rem;
    opacity: 1;
    z-index: 6;
  }
  
  .nav-selection .nav-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    list-style: none;
  }
  
  .nav-selection .list:hover {
    background-color: rgba(0,0,0,0.02);
  }
  .nav-selection .list:active {
    color: var(--lightblue);
  }
  .nav-selection .list {
    padding: 5px;
    border-radius: 3px;
  }
  
  .list .icon {
    display: none;
  }
  
  .personal {
    display: none;
  }
  
}