/* project section styling */
@import url("/root.css");

.project {
  background-color: transparent;
}

.project h3 {
  position: absolute;
  padding-left: 2rem;
  border-radius: 0 10px 10px 0;
  left: 0;
  background-color: var(--blue);
}

.project p {
  padding-top: 4rem;
}

.candaan {
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.09);
  transition: 300ms;
}

.loading {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(0,0,0,0.3);
  color: #fafafa;
  display: flex;
  border-radius: 10px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  z-index: -2;
}

.loadon {
  opacity: 1;
  z-index: 3;
}

.candaan:active {
  width: 290px;
  height: 290px;
}

.joks {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sosial-med {
  margin: 5%;
}